body {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 20px;
}

.center {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

label {
    display: block;
    line-height: 70px;
}

input {
    border-radius: 8px;
}

.reviewSection {
    color: black;
    background-color: lightgray;
    border-radius: 8px;
    padding: 30px;
    font-family: "Courier New", monospace;
    font-size: large;
    font-weight: lighter;
    margin-bottom: 30px;
    margin-top: 30px;
}

.reviewSection p {
    font-size: medium;
}

h2, h3 {
    color: whitesmoke;
    font-family: "Courier New", monospace;
    text-align: center;
}

h2 {
    padding-top: 50px;
}

.newReviewButton {
    text-align: center;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px;
    background-color: #e7e7e7;
    color: black;
    border-radius: 5px;
    font-family: "Courier New", monospace;
    font-weight: bold;
}

img {
    padding-top: 20px;
    padding-bottom: 20px;
}